<%- include("partials/newHeader") -%> 

<div class="banner about">
    <div class="container">
        <h1 class="banner-title"><span>About</span> Us</h1>
        <p><%= about %></p>
    </div>
</div>

<%- include("partials/newFooter") -%> 