<%- include("partials/newHeader") -%> 

<div class="banner">
    <div class="container">
        <h1 class="banner-title"><span>Logging out.....</span></h1>
        <p>You have successfully logout.</p>
    </div>
</div>

<%- include("partials/newFooter") -%> 