<%- include("partials/newHeader") -%> 

<div class="banner profile">
    <div class="container">
        <h1 class="banner-title"><span>This is your </span>dashboard</h1>
        <p>Simple profile dashboard. Many more to come!</p>
        <button><a href="/compose">Start Writing</a></button>
    </div>
</div>

<div>

<%- include("partials/newFooter") -%> 