<%- include("partials/newHeader") -%> 

<div class="banner login">
  <div class="container">
      <h1 class="banner-title"><span>Register</span></h1>
      <form action="/register" method="post">
        <div class="form-group" style="text-align: left; width: 500px; margin: auto">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div><hr>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
  </div>

  <div class="social-login">
    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a href="/auth/google" class="btn btn-block" role="button">
            <i class="fab fa-google"></i>
            Log In with Google
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a href="#" class="btn btn-block" role="button">
            <i class="fab fa-facebook"></i>
            Log In with Facebook
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/newFooter") -%> 